body {background: black; height: 100vh; margin: 0; padding: 0;}



.all-in { height: 100%; }

.r-b {    padding: 22px; display: inline-block; margin-top: 270px;}

.r-b input {padding: 16px; color:white; background: black; border:2px #8653ff solid;}



